

.nav-home-link{
    background-color: #3c5aa6;
    cursor: pointer;
    width: 80px;
    height: 50px;
    padding: 6px;
    margin: 15px;

    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    font-size: 15px;
    color: #dad7d2;
    font-weight: 700;
    text-decoration: none;
}

.nav-logout-btn{
    background-color: #3c5aa6;
    cursor: pointer;
    width: 80px;
    height: 50px;
    padding: 6px;
    margin: 15px;

    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    font-size: 15px;
    color: #dad7d2;
    font-weight: 700;
    text-decoration: none;
}
